@import url("./reset.css");
@import url("./Cell.css");
@import url("./codemirror.css");
@import url("./fonts.css");
@import url("./Header.css");
@import url("./print.css");
@import url("./codemirror-completions.css");

/* stylelint-disable unit-allowed-list */

/* On smaller screens, scale everything down so more fits on the page. */
html {
  font-size: 90%;
}

@media screen and (height >= 1000px) {
  html {
    font-size: 100%;
  }
}
/* stylelint-enable unit-allowed-list */

:root {
  --content-width: 740px;
  --content-width-medium: 880px;
}

#App {
  position: relative;
  margin: auto;
  z-index: 1;
  flex: 1;
}

/* Remove background when disconnected, only in light mode. */
.light #App.disconnected,
.light #App.disconnected .transparent-when-disconnected {
  background: none;
}

.inactive-button,
.inactive-button:hover,
.inactive-button svg {
  color: var(--muted-foreground);
  cursor: default;
}

.inactive-button {
  opacity: 0.5;
}
