.cell-status-icon {
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: auto;
}

.elapsed-time {
  font-family: var(--monospace-font);
  font-size: 0.75rem;
  color: var(--muted-foreground);
}

#App.disconnected .elapsed-time {
  visibility: hidden;
}

.cell-status-disabled,
.cell-status-queued,
.cell-status-stale {
  color: color-mix(in srgb, var(--muted-foreground), transparent 20%);
}
