@reference "../../../css/globals.css";

.missing-filename {
  text-align: center;
  @apply shadow-md-solid shadow-stale;
}

.missing-filename:hover,
.missing-filename:focus {
  @apply shadow-lg-solid shadow-stale;
}

.filename {
  text-align: left;
  box-shadow: none;
  border-radius: 3px;
}

.filename:hover,
.filename:focus {
  background-color: rgb(63 66 87 / 20%);
  box-shadow: none;
}
