@reference "../../css/globals.css";

.react-flow__pane.react-flow__pane {
  cursor: default;
}

.react-flow__node.react-flow__node {
  cursor: pointer;
}

.react-flow__handle.react-flow__handle {
  @apply border-background;
}

.react-flow__controls.react-flow__controls {
  bottom: 8px;
}

.react-flow__controls button {
  background: var(--popover);
  border-bottom: 1px solid var(--border);
}

.react-flow__controls button:hover {
  background: var(--accent);
}

.react-flow__controls button svg {
  fill: var(--muted-foreground);
}
